.active{
    border-bottom:3rpx solid #ff6325;
    color:#ff6325;
}
.recordtitle{
    height:100rpx;
    padding:0 50rpx;
}
.recordtitle p{
    height:90rpx;
    line-height: 90rpx;
}
.recorditem{
    border-bottom:1rpx solid #f4f4f4;
}
.add,.short{
    font-size:32rpx;
}
.short{
    color:#139ff7
}
.add{
    color:#ff6325
}
.minisize{
    font-size:24rpx;
    color:#999;
    margin-top:10rpx;
}
