.sectionPage{
    background: #fff !important;
}
.logo{
    text-align: center;
}
.btn{
    color:#fff;
    background: #ff5c29;
    text-align: center;
    height: 86rpx;
    line-height: 86rpx;
    border-radius:15rpx;
}
.inlineflex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}