.citylist{
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: flex-start;
    border-top:1rpx solid #eee;
    font-size: 28rpx;
    font-weight: 500;
    padding:20rpx 0;
}
.cityitem{
    width:33.333%;
    padding:23rpx 0;
    padding-left:60rpx;
}
.numitem{
    width:25%;
    padding:23rpx 0;
    text-align: center;
}
.numitem text{
    border:2rpx solid #ccc;
    border-radius:10rpx;
    display: inline-block;
    width:84rpx;
    height:80rpx;
    line-height:80rpx;
    font-size:32rpx;
    box-sizing:border-box;
}
.cityitem text{
    display: inline-block;
    text-align: center;
}
