.msglist {
    padding: 0 40rpx;
    border-top: 1rpx solid #eee;
}

.mesitem {
    margin-top: 30rpx;
}

.infomsg {
    width: 88rpx;
    height: 88rpx;
}

.infodesc {
    width: 82%;
    color: #999;
    font-size: 26rpx;
}

.itemdesc {
    padding: 20rpx 30rpx;
}

.title {
    margin-bottom: 20rpx;
}

.time {
    margin-bottom: 30rpx;
    background: #bfc2c7;
    border-radius: 5rpx;
    color: #fff;
    padding: 3rpx 15rpx;
}