.setitem{
    padding:30rpx;
    margin-top:20rpx;
}
.radius{
    margin-right:15rpx;
    padding:5rpx 20rpx;
    background: #ff6325;
    color:#fff;
    border-radius:25rpx;
    font-size:20rpx
}
.setlist{
    border-top:1rpx solid #f4f4f4;
}
.circle{
    background: #ccc;
    margin-left:15rpx
}
.phonecolor{
    color:#ccc;
}
