
.setlist{
    border-top:1rpx solid #f4f4f4;
}
.setbtn{
    margin-top:82rpx;
}
.nums{
    font-size:24rpx;
    color:#999;
    text-align: right;
}
textarea{
    height:200rpx;
    padding-top:30rpx;
}
.compics{
    width:156rpx;
    height:156rpx;
}
.comtitile{
    margin-bottom:20rpx;
}
.comtitile p:first-child{
    font-weight: bold;
}