.title {
    font-size: 36rpx;
    font-weight: bold;
    text-align: center;
    // border-top: 1rpx solid #f4f4f4;
    padding-top: 30rpx;
}

.tips {
    font-size: 24rpx;
    color: #999;
}

.question {
    background: #f3f3f3;
    padding: 20rpx 10rpx;
    margin: 30rpx 0;
    line-height: 50rpx;
}

.content {
    padding: 20rpx 10rpx;
    margin: 30rpx 0;
    line-height: 50rpx;
}

.pic1 {
    width: 690rpx;
    height: 470rpx;
}

.whitebg {
    background: #ffff;
}

.zan {
    width: 24rpx;
    height: 26rpx;
}

.share {
    width: 26rpx;
    height: 26rpx;
}

.btnset {
    justify-content: space-around
}

.btnset img {
    margin-right: 20rpx;
}

.btnset .flex-container {
    border: 1rpx solid #eee;
    border-radius: 50rpx;
    padding: 20rpx 100rpx;
    line-height: inherit;
    font-size: 30rpx;
    // position: static;
}

.btnset button.flex-container {
    margin-right: 0;
}

.btnset button.flex-container::after,
.btnset button.flex-container::before {
    display: none;
}