
.title{
    display: flex;
    justify-content: space-around;
}
.ranktitle{
    font-size: 30rpx;
    padding:20rpx;
    color:#999;
}
.active{
    border-bottom:3rpx solid #ff6325;
    color:#ff6325;
    font-weight: 500;
}
.nums{
    width:32rpx;
    height:47rpx;
}
.shopimg{
    width:112rpx;
    height:112rpx;
}
.ranklist{
    padding:0 30rpx;
}
.rankitem{
    padding:20rpx 0;
    border-bottom:1rpx solid #eee;
}
.shopnum{
    width:80%;
    justify-content: flex-start;
}
.options{
    width:8%;
    text-align:center;
}
.rankinfo{
    margin-left:25rpx;
}
.rankcol{
    margin-left: 25rpx;
}
.shopname{
    font-weight: bold;
}
.ranknums{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ranknums p:first-child{
    font-size: 30rpx;
    font-weight: bold;
}
.ranknums p+p{
    color:#999;
}