.orange{
    width:750rpx;
    height:268rpx;
    justify-content: center;
    background:#ff814f;
    color:#fff;
}
.hint{
    font-size:24rpx;
}
.score{
    font-size:72rpx;
}
.walletlogo{
    width:64rpx;
    height:64rpx;
    margin-right:30rpx;
}
.waitem{
    justify-content: flex-start;
    border-bottom: 1rpx solid #f4f4f4;
    padding:30rpx;
}
