.contain{
    padding:0 30rpx;
    font-size: 28rpx;
}
.signtitle{
    color: #ff6325;
    padding:50rpx 0 20rpx 0;
}
.infobg{
    height:268rpx;
    width:690rpx;
    background:#f4f7fc;
    color:#999999;
    border-radius:10rpx;
    margin-bottom:80rpx;
    padding:20rpx;
    box-sizing: border-box
}
